<!DOCTYPE html>
<html>

<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/ng-table/dist/ng-table.min.js"></script>
    <script src="node_modules/ng-table/dist/ng-table.min.css"></script>

    <link href="css/styles.css" rel="stylesheet" type="text/css">
    <link rel='stylesheet' type='text/css' href='http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css' />
    <script src="js/functions.js"></script>
    <script src="js/controllers/nflController.js"></script>
    <title>tanuki: NFL</title>
</head>

<body class="container-fluid" lang="en" ng-app="NFLStats" ng-controller="NFLController">
    <h1>NFL</h1>
    <section id="nav">
        <nav>
            Passing | Rushing | Defense | Advanced Stats
        </nav>
    </section>
    <header class="row">
    </header>
    <section id="nflStats">
        <div id="passingStats" class="row">
            <div class="col-md-4">
                <h4>Passing Against</h4>
                <table id="passingYardsAgainst" ng-table="tableParams" class="table variables-matrix input-arguments">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Vs. - WK 17</th>
                            <th>Yards Given</th>
                            <th>TDs Given</th>
                        </tr>
                    </thead>
                    <tr ng-repeat="team in teamStats">
                        <td>{{team.teamName}}</td>
                        <td></td>
                        <td>{{team.yardsGiven}}</td>
                        <td></td>
                    </tr>
                </table>
            </div>
            <div class="col-md-4">
                <h4>WR Season</h4>
                <table id="bestRecieversSeason" ng-table="tableParams" class="table variables-matrix input-arguments">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Yards</th>
                            <th>Targets</th>
                            <th>Completions</th>
                            <th>RZ Looks</th>
                        </tr>
                    </thead>
                    <tr ng-repeat="">
                        <td>{{player.playerName}}</td>
                        <td>{{}}</td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
            <div class="col-md-4">
                <h4>WR Last 3 Games</h4>
                <table id="bestRecievers3" ng-table="tableParams" class="table variables-matrix input-arguments">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Yards</th>
                            <th>Targets</th>
                            <th>Completions</th>
                            <th>RZ Looks</th>
                        </tr>
                    </thead>
                    <tr ng-repeat="player in wideRecievers">
                        <td>{{player.playerName}}</td>
                        <td>{{}}</td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
        <div id="recievingStats" class="row">
            <div class="col-md-4">
                <h4>Rushing Against</h4>
                <table id="passingYardsAgainst" ng-table="tableParams" class="table variables-matrix input-arguments">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Vs.</th>
                            <th>Yards Given</th>
                            <th>TDs Given</th>
                        </tr>
                    </thead>
                    <tr ng-repeat="">
                        <td>{{team.teamName}}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
            <div class="col-md-4">
                <h4>RB Season</h4>
                <table id="bestRecieversSeason" ng-table="tableParams" class="table variables-matrix input-arguments">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Yards</th>
                            <th>Targets</th>
                            <th>Completions</th>
                            <th>RZ Looks</th>
                        </tr>
                    </thead>
                    <tr ng-repeat="">
                        <td>{{player.playerName}}</td>
                        <td>{{}}</td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
            <div class="col-md-4">
                <h4>RB Last 3 Games</h4>
                <table id="bestRecievers3" ng-table="tableParams" class="table variables-matrix input-arguments">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Yards</th>
                            <th>Targets</th>
                            <th>Completions</th>
                            <th>RZ Carries</th>
                        </tr>
                    </thead>
                    <tr ng-repeat="player in bestPitchers">
                        <td>{{player.playerName}}</td>
                        <td>{{}}</td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
        <div id="otherStats" class="row">
            <div class="col-md-4">
                <h4>TE Season</h4>
                <table id="bestRecieversSeason" ng-table="tableParams" class="table variables-matrix input-arguments">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Yards</th>
                            <th>Targets</th>
                            <th>Completions</th>
                            <th>RZ Looks</th>
                        </tr>
                    </thead>
                    <tr ng-repeat="">
                        <td>{{player.playerName}}</td>
                        <td>{{}}</td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
            <div class="col-md-4">
                <h4>TE Last 3 Games</h4>
                <table id="bestRecievers3" ng-table="tableParams" class="table variables-matrix input-arguments">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Yards</th>
                            <th>Targets</th>
                            <th>Completions</th>
                            <th>RZ Looks</th>
                        </tr>
                    </thead>
                    <tr ng-repeat="">
                        <td>{{}</td>
                        <td>{{}}</td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
        <div id="otherStats" class="row">
            <div class="col-md-4">
                <h4>DEF Season</h4>
                <table id="bestRecieversSeason" ng-table="tableParams" class="table variables-matrix input-arguments">
                    <thead>
                        <tr>
                            <th></th>
                            <th>INT</th>
                            <th>FUM</th>
                            <th>TOs</th>
                            <th>TDs</th>
                            <th>RZ Stops</th>
                            <th>FGs Against</th>
                        </tr>
                    </thead>
                    <tr ng-repeat="">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
            <div class="col-md-4">
                <h4>DEF Last 3 Games</h4>
                <table id="bestRecievers3" ng-table="tableParams" class="table variables-matrix input-arguments">
                    <thead>
                        <tr>
                            <th></th>
                            <th>INT</th>
                            <th>FUM</th>
                            <th>TOs</th>
                            <th>TDs</th>
                            <th>RZ Stops</th>
                            <th>FGs Against</th>
                        </tr>
                    </thead>
                    <tr ng-repeat="">
                        <td>{{}}</td>
                        <td>{{}}</td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
    </section>
    <footer class="row">
        <p>"When you bring the thunder sometimes you get lost in the rain." -KP</p>
        HOME | MLB | NBA | NFL
    </footer>
</body>

</html>
