<!DOCTYPE html>
<html>
<head>

  <!-- CSS -->
   <link href="/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css">
   <link href="/css/styles.css" rel="stylesheet" type="text/css">

   <!-- Libraries -->
   <link rel='stylesheet' type='text/css' href='http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css' />
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
   <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
   <script src="/angular/angular.js"></script>
   <script src="/angular-route/angular-route.js"></script>
    <!-- <script src="node_modules/ng-table/dist/ng-table.min.js"></script>
    <script src="node_modules/ng-table/dist/ng-table.min.css"></script> -->

    <!--     <link href="css/readable/bootstrap.css" rel="stylesheet" type="text/css">
 -->

    <!-- <script src="js/functions.js"></script> -->

   <!-- Custom Angular -->
   <script src="/js/controllers/mainController.js"></script>
   <script src="/js/controllers/mlbController.js"></script>
   <script src="/js/services/MLBstatsService.js"></script>
   <script src="js/appRoutes.js"></script>
  <script src="js/app.js"></script>

    <title>tanuki: Home Page</title>
    
</head>
  <body ng-app="StatsApp" ng-controller="MainController">
    <div class="jumbotron">
      <h1>How's it going eh?</h1>
      <p>
        {{tagline}}
      </p>
      <h1><a href="/mlb">MLB</a></h1>
    </div>
  </body>
</html>
