<!DOCTYPE html>
<html>

<head>
    <link href="css/styles.css" rel="stylesheet" type="text/css">
    <link href="css/MLBstyles.css" rel="stylesheet" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.js"></script>
    <!-- <script src="node_modules/ng-table/dist/ng-table.min.js"></script>
    <script src="node_modules/ng-table/dist/ng-table.min.css"></script> -->

    <!-- <script src="js/functions.js"></script> -->
    <!-- <script src="angular"></script>
    <script src="angular-route"></script>
    <script src="angular-resource"></script> -->

    <script src="js/app.js"></script>
    <script src="js/controllers/MLBController.js"></script>
    <script src="js/services/MLBStatService.js"></script>

    <title>tanuki: MLB</title>
</head>

<body class="container-fluid" lang="en" ng-app="MLBStatsApp" ng-controller="MLBController">
    <h1>MLB</h1>
    <section id="nav">
        <nav>
            TEAM | PITCHING | BATTING | WEATHER
        </nav>
    </section>
    <header class="row">
    </header>
    <section id="mlbStats">
      <div class="row">
          <div class="col-md-12">
              <h4>Team Stats</h4>
              <!-- TODO: avg team runs scored(home & away), worst bullpen, hits/runs best vs(team that historcally hit hot vs) -->
              <section class="row" id="team">
                  <div class="col-md-4" id="bestBattingVs"></div>
                  <div class="col-md-4" id="bestPitchingVs"></div>
                  <div class="col-md-4">
                      <div id="bestRecord">
                      </div>
                      <div id="worstRecord">
                      </div>
                  </div>
              </section>
              <h4>Pitching</h4>
              <section class="row" id="pitching">
                  <div class="col-md-6" id="pitcherTeam">
                    <!-- TODO What are the key stats for team pitching? Relief stats?  Home, away stats? -->
                    <table ng-table="tableParams" class="table table-condensed table-bordered table-striped input-arguments variables-matrix" id="pitcherBestStats">
                        <thead>
                            <tr>
                                <th>
                                <div class="btn-group btn-group-sm" role="group" aria-label="...">
                                  <button type="button" class="btn btn-default">L</button>
                                  <button type="button" class="btn btn-default">3</button>
                                  <button type="button" class="btn btn-default">5</button>
                                  <button type="button" class="btn btn-default">S</button>
                                </div>
                                  <button type="button" class="btn btn-default" style="float: right">Today</button>
                                </th>
                                <th>WHIP</th>
                                <th>Ks</th>
                                <th>K/IP</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tr ng-repeat="player in bestPitchers">
                            <td>{{team.teamName}}</td>
                            <td data-title="'WHIP'" sortable="'WHIP'">{{team.WHIP}}</td>
                            <td>{{team.Ks}}</td>
                            <td>{{team.KIP}}</td>
                            <td>{{team.IP9}}</td>
                        </tr>
                    </table>
                  </div>
                  <div class="col-md-6" id="pitcherIndividual">
                      <table ng-table="tableParams" class="table table-condensed table-bordered table-striped input-arguments variables-matrix" id="pitcherBestStats">
                          <thead>
                              <tr>
                                  <th>
                                  <div class="btn-group btn-group-sm" role="group" aria-label="...">
                                    <button type="button" class="btn btn-default">L</button>
                                    <button type="button" class="btn btn-default">3</button>
                                    <button type="button" class="btn btn-default">5</button>
                                    <button type="button" class="btn btn-default">S</button>
                                  </div>
                                    <button type="button" class="btn btn-default" style="float: right">Today</button>
                                  </th>
                                  <th>WHIP</th>
                                  <th>Ks</th>
                                  <th>K/IP</th>
                                  <th>IP/9</th>
                              </tr>
                          </thead>
                          <tr ng-repeat="player in bestPitchers">
                              <td>{{player.playerName}}</td>
                              <td data-title="'WHIP'" sortable="'WHIP'">{{player.WHIP}}</td>
                              <td>{{player.Ks}}</td>
                              <td>{{player.KIP}}</td>
                              <td>{{player.IP9}}</td>
                          </tr>
                      </table>
                      <div id="pitcherWorstStats">
                        <!-- TODO Add the top pitchers likely to get shelled -->
                      </div>
                  </div>
              </section>
              <h4>Batting</h4>
              <section class="row" id="batting">
                  <div class="col-md-6" id="batterTeam">
                    <table ng-table="tableParams" class="table table-condensed table-bordered table-striped input-arguments variables-matrix" id="pitcherBestStats">
                        <thead>
                            <tr>
                                <th>
                                <div class="btn-group btn-group-sm" role="group" aria-label="...">
                                  <button type="button" class="btn btn-default">L</button>
                                  <button type="button" class="btn btn-default">3</button>
                                  <button type="button" class="btn btn-default">5</button>
                                  <button type="button" class="btn btn-default">S</button>
                                </div>
                                  <button type="button" class="btn btn-default" style="float: right">Today</button>
                                </th>
                                <th>R</th>
                                <th>HR</th>
                                <th>OPS</th>
                                <th>Total Offense</th>
                            </tr>
                        </thead>
                        <tr ng-repeat="team in Teams">
                            <td>{{team.teamName}}</td>
                            <td data-title="'runs'" sortable="'WHIP'">{{team.runs}}</td>
                            <td>{{team.homeRuns}}</td>
                            <td>{{team.ops}}</td>
                            <td>{{team.totalOffense}}</td>
                        </tr>
                    </table>

                  </div>

                  <div class="col-md-6">
                      <table ng-table="tableParams" class="table table-condensed table-bordered table-striped input-arguments variables-matrix" id="batterBestStats">
                          <thead>
                              <tr>
                                  <th>
                                    <div class="btn-group btn-group-sm" role="group" aria-label="...">
                                      <button type="button" class="btn btn-default">L</button>
                                      <button type="button" class="btn btn-default">3</button>
                                      <button type="button" class="btn btn-default">5</button>
                                      <button type="button" class="btn btn-default">S</button>
                                    </div>
                                    <button type="button" class="btn btn-default" style="float: right">Today</button>
                                  </th>
                                  <th>SLG</th>
                                  <th>OPS</th>
                                  <th>HR</th>
                              </tr>
                          </thead>
                          <tr ng-repeat="player in bestBats">
                              <td>{{player.playerName}}</td>
                              <td>{{player.OPS}}</td>
                              <td></td>
                              <td></td>
                          </tr>
                      </table>

                      <div id="batterWorstStats"></div>
                  </div>
              </section>
          </div>

      </div>
    </section>
    <footer class="row">
        <p>"When you bring the thunder sometimes you get lost in the rain." -KP</p>
        HOME | MLB | NBA | NFL
    </footer>
</body>

</html>
